@model IEnumerable<Runner>

@{
    ViewData["Title"] = "Index";
}

<h2>Runner Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RunnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorldRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameRunner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RunnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorldRecords)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameRunner)
                </td>
                <td>
                    <a asp-action="EditRunner" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsRunner" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteRunner" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="CreateRunner">Create New</a>
</p>